In [1]:
from bs4 import BeautifulSoup
import requests
import re
import itertools
import pandas as pd
import pickle

In [2]:
# create a list of urls to parse data from
url_list = []
for i in range(1,15):
    url = 'http://www.espn.com/nba/salaries/_/page/{}/seasontype/3'.format(i)
    url_list.append(url)

In [3]:
def get_player_salary(url):
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page, 'lxml')
    
    headers = ['Name', 'Position', 'Team', 'Salary']
    
    player_info = {}
    player_salary = []

    # loop through even rows to find players
    for player in soup.find('table').find_all('tr'):
        try:
            # skip the rows with header names
            if player.find(class_='colhead'):
                continue

            name = player.find_all('td')[1].text.split(',')[0].strip()
            position = player.find_all('td')[1].text.split(',')[1].strip()
            team = player.find_all('td')[2].text.strip()
            salary = player.find_all('td')[3].text.strip().split('$')[1]

            player_info = dict(zip(headers, [name, position, team, salary]))
            player_salary.append(player_info)
        
        except:
            print(name)

    return player_salary

In [4]:
salary_list = []

for url in url_list:
    salary_list += (get_player_salary(url))

pickle.dump(salary_list, open('salary_list.p', 'wb'))

NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME
NAME

In [7]:
salary_df = pd.DataFrame()
salary_df.append(pickle.load(open('salary_list.p', 'rb')))

                  Name Position                   Team      Salary
0        Stephen Curry       PG  Golden State Warriors  40,231,758
1           Chris Paul       PG  Oklahoma City Thunder  38,506,482
2    Russell Westbrook       PG        Houston Rockets  38,506,482
3            John Wall       PG     Washington Wizards  38,199,000
4         Kevin Durant       SF          Brooklyn Nets  38,199,000
..                 ...      ...                    ...         ...
523    Jimmer Fredette        G           Phoenix Suns     208,509
524      Jontay Porter       PF      Memphis Grizzlies     197,933
525   Anthony Tolliver       PF      Memphis Grizzlies     183,115
526      Tyler Johnson       SG           Phoenix Suns     183,115
527      Luguentz Dort       SG  Oklahoma City Thunder     155,647

[528 rows x 4 columns]

In [ ]:
print('hellasfg')